## Kicad
/pcb/**/*-lib-table
/pcb/**/*-cache
/pcb/**/*-rescue.lib
/pcb/**/*.sch-bak
/pcb/**/*.kicad_pcb-bak
/pcb/**/*.dcm
/pcb/**/*.kicad_prl
/pcb/**/*-backups/
/pcb/**/*.xml
/pcb/**/*.lck
/pcb/**/out/
/pcb/**/#auto_saved_files#
/pcb/**/_autosave*

## Etc.
*.bak
*.*~
.vscode/
